@mixin bow-shadow($horizontalLength, $verticalLength, $blurRadius, $spreadRadius, $color) {
    -webkit-box-shadow: $horizontalLength $verticalLength $blurRadius $spreadRadius $color;
    -moz-box-shadow: $horizontalLength $verticalLength $blurRadius $spreadRadius $color;
    box-shadow: $horizontalLength $verticalLength $blurRadius $spreadRadius $color;
}
